#ban1{
    background-image: url("https://img.lovepik.com/background/20211022/large/lovepik-blue-tech-background-image_401906812.jpg");
    height: 100px;
    color: #FFF;
   justify-content: center;
    align-items: center;
    display: flex;
}
/* 
#cnt{
    background-image: url("https://img.lovepik.com/background/20211022/large/lovepik-blue-tech-background-image_401906812.jpg");
    color: white;
    font-size: 40px;
    height: 100px;

} */